### PRACTICE WITH GROUP

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('deliveries.csv') #read the CSV file 'matches.csv', pandas by default make tables as dataframe
print(type(data)) # confirm that it is a of type dataframe 
print('\n')
print(data.dtypes) # the data types of each column in the dataframe

<class 'pandas.core.frame.DataFrame'>


match_id             int64
inning               int64
batting_team        object
bowling_team        object
over                 int64
ball                 int64
batsman             object
non_striker         object
bowler              object
is_super_over        int64
wide_runs            int64
bye_runs             int64
legbye_runs          int64
noball_runs          int64
penalty_runs         int64
batsman_runs         int64
extra_runs           int64
total_runs           int64
player_dismissed    object
dismissal_kind      object
fielder             object
dtype: object

In [4]:
data.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [21]:
# Ex-1 find out top 10 batsman of all the seasons who make most runs

batsman = data.groupby('batsman')
batsman['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
SK Raina          4548
V Kohli           4423
RG Sharma         4207
G Gambhir         4132
DA Warner         4014
RV Uthappa        3778
CH Gayle          3651
S Dhawan          3561
MS Dhoni          3560
AB de Villiers    3486
Name: batsman_runs, dtype: int64

In [37]:
# Ex-2 find the batsman who made most fours
mask = data['batsman_runs'] == 4
new = data[mask].groupby('batsman')['batsman_runs']
new.count().sort_values(ascending=False).head()

batsman
G Gambhir    484
SK Raina     402
DA Warner    401
S Dhawan     401
V Kohli      384
Name: batsman_runs, dtype: int64

In [39]:
# ex 3 - create function to find a batsman scored max run against which team
def run_scored(batsman_name):
    data_set = data[data['batsman'] == batsman_name]
    return data_set.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head()

run_scored('V Kohli')

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Mumbai Indians         447
Sunrisers Hyderabad    439
Name: batsman_runs, dtype: int64

In [40]:
# ex -4 Find the most destructive death over batsman in the history of IPL
# Strike rate = (No. of runs / no. of balls) * 100
# minimun batsman 200 balls in 16 - 20 overs

In [63]:
death_over = data[data['over'] > 15]

batsmans = death_over.groupby('batsman')['batsman_runs'].count()
mask = batsmans > 200
batsmans_list = batsmans[mask].index.tolist()

result = death_over[death_over['batsman'].isin(batsmans_list)].groupby('batsman')

runs = result['batsman_runs'].sum()
balls = result['batsman_runs'].count()

outcome = (runs / balls) * 100

outcome.sort_values(ascending=False).head()

batsman
AB de Villiers    211.052632
DA Warner         189.473684
DA Miller         186.666667
V Kohli           181.868132
RG Sharma         175.668449
Name: batsman_runs, dtype: float64